* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    margin: 0;
    background-color: grey;
    width: 100vw;
    height: 120px;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 70px;
}

#curriculo { }
.principal {} 